header {
    display: flex;
    justify-content: space-between;
    background-image: url("../images/rr-hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    font-size: 35px;
    color: slategrey;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}
header nav ul li {
    margin: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: navy;
}

.hero {
    background-image: url("../images/rr-hero.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
}

.portrait {
    display: flex;
    height: 300px;
}

.flex-row {
    display: flex;
    justify-content: center;
}

.flex-row h2{
    color:crimson;
}

.work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border: 2px solid silver;
    padding: 50px;
    margin: 10px;
    height: 150px;
    width: 190px;
}

.res-link {
    text-decoration: none;
    color: crimson;
}

.contact-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}

.contact-links ul li a {
    text-decoration: none;
}