header {
    display: flex;
    justify-content: space-between;
    background-image: url("../images/rr-hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
}

header h1 {
    font-size: 40px;
    color: rgb(158, 17, 31);
    margin: 10px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin: 0px;
}
header nav ul li {
    margin: 25px;
    font-size: 22px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(158, 17, 31);
}

.hero {
    background-image: url("../images/rr-hero.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.portrait {
    display: flex;
    height: 300px;
}

.flex-row {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.flex-row h2{
    color:crimson;
    font-size: 32px;
}

.work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
    padding: 50px;
    margin: 10px;
    height: 150px;
    width: 190px;
    background-color:darkgray;
}

.card h3 {
    text-align: center;
    font-size: 30px;
}

.card_lg {
    background-color: none;
}

.card_lg img{
    position: relative;
    left: -50px;
    top: -49px;
    height: 248px;
    width: 290px;
}

.run {
    position: relative;
    top: -142px;
}

.card_sm1 img {
    position: relative;
    top: -49px;
    left: -49px;
    height: 248px;
    width: 288px;
}

.card_sm1 {
}

.seo {
    position: relative;
    top: -142px;
}

.res-link {
    text-decoration: none;
    color: crimson;
}

.contact-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    font-size: 22px;
}

.contact-links ul li a {
    text-decoration: none;
}